<a href="https://colab.research.google.com/github/anthrofax/Adobe-Illustrator-Learning-History/blob/main/Pertemuan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
my_data = np.array([[2.7,1.1,1.9,6.3],[1.4,0.5,1.9,7.0],[1.2,0.5,1.9,9.7],[0.4,0.1,1.9,9.9],[3.1,0.5,2.0,0.1]])

In [ ]:
column_names = ['sepal.length','sepal.width','petal.length','petal.width']

In [ ]:
data_frame = pd.DataFrame(data=my_data, columns=column_names)
print(data_frame)

   sepal.length  sepal.width  petal.length  petal.width
0           2.7          1.1           1.9          6.3
1           1.4          0.5           1.9          7.0
2           1.2          0.5           1.9          9.7
3           0.4          0.1           1.9          9.9
4           3.1          0.5           2.0          0.1

In [ ]:
data_frame["species"] = 'Afridho Ikhsan'

In [ ]:
print(data_frame)

   sepal.length  sepal.width  petal.length  petal.width         species
0           2.7          1.1           1.9          6.3  Afridho Ikhsan
1           1.4          0.5           1.9          7.0  Afridho Ikhsan
2           1.2          0.5           1.9          9.7  Afridho Ikhsan
3           0.4          0.1           1.9          9.9  Afridho Ikhsan
4           3.1          0.5           2.0          0.1  Afridho Ikhsan

In [ ]:
print("rows 0, 1, and 2 : ")
print(data_frame.head(3), '\n')

print("row 3 : ")
print(data_frame.iloc[[3]], '\n')

print("row 1, 2, and 3 : ")
print(data_frame[1:4],'\n')

print("Column 'species' : ")
print(data_frame['species'])

rows 0, 1, and 2 :
   sepal.length  sepal.width  petal.length  petal.width         species
0           2.7          1.1           1.9          6.3  Afridho Ikhsan
1           1.4          0.5           1.9          7.0  Afridho Ikhsan
2           1.2          0.5           1.9          9.7  Afridho Ikhsan

row 3 :
   sepal.length  sepal.width  petal.length  petal.width         species
3           0.4          0.1           1.9          9.9  Afridho Ikhsan

row 1, 2, and 3 :
   sepal.length  sepal.width  petal.length  petal.width         species
1           1.4          0.5           1.9          7.0  Afridho Ikhsan
2           1.2          0.5           1.9          9.7  Afridho Ikhsan
3           0.4          0.1           1.9          9.9  Afridho Ikhsan

Column 'species' :
0    Afridho Ikhsan
1    Afridho Ikhsan
2    Afridho Ikhsan
3    Afridho Ikhsan
4    Afridho Ikhsan
Name: species, dtype: object

In [ ]:
my_data2 = np.array([[27,11,19,63],[14,5,19,70],[12,5,19,97]])

In [ ]:
column_names2 = ['Zahra','Lily','Dito','Naufal']

In [ ]:
data_frame_panda = pd.DataFrame(data=my_data2, columns=column_names2)
print(data_frame_panda)

   Zahra  Lily  Dito  Naufal
0     27    11    19      63
1     14     5    19      70
2     12     5    19      97

In [ ]:
data_frame_panda["Janet"] = 3

In [ ]:
print(data_frame_panda)

   Zahra  Lily  Dito  Naufal  Janet
0     27    11    19      63      3
1     14     5    19      70      3
2     12     5    19      97      3